*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: verdana;
}

.main{
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: #303841;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.reloj{
	position: absolute;
	right: -100%;
	background: #20252b;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reloj__pantalla{
	border: 1vh solid #FFF;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	color: #29F;
}

.cronometro{
	position: absolute;
	right: -100%;
	background: #20252b;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cronometro__pantalla{
	border: 1vh solid #FFF;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	color: #29F;
	margin-bottom: 4vh;
}

.cronometro__lista{
	display: none;
	height: 20vh;
	width: 30vw;
	margin: 1% 0;
	overflow-y: auto; 
}

.cronometro__lista>p{
	color: #FFF;
}

.cronometro__lista.visible{
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 1s;
}

.contenedor {
    margin: 2rem auto;
    border: 1px solid #aaa;
    height: 300px;
    width:90%;
    max-width: 400px;
    background: #f1f2f3;
    overflow:auto;
    box-sizing: border-box;
    padding:0 1rem;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.cronometro__lista::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cronometro__lista::-webkit-scrollbar:vertical {
    width:10px;
}

.cronometro__lista::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.cronometro__lista::-webkit-scrollbar-thumb {
    background-color:  #181c21;
    border-radius: 20px;
}

.cronometro__lista::-webkit-scrollbar-track {
	background-color: #353e49;
    border-radius: 10px;  
}

.cronometro__botonera{
	width: 40vw;
	display: flex;
	justify-content: space-around;
}

.cronometro__btn-reiniciar,.cronometro__btn-vuelta{
	display: none;
	cursor: pointer;
	border-style: none;
	color: #FFF;
	background: transparent;
	font-size: 4vh;
}

.cronometro__btn-reiniciar.visible,.cronometro__btn-vuelta.visible{
	display: block;
}


.cronometro__btn-play{
	position: relative;
	border-style: none;
	background: #FF1111;
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.cronometro__btn-play:hover{
	opacity: .8;
}

.cronometro__btn-play>img{
	height: 60%;
	width: 60%;
}

.cronometro__btn-play.iniciar>.pause{
	display: none;
}

.cronometro__btn-play.iniciar>.play{
	display: block;
}

.cronometro__btn-play>.play{
	display: none;
}

.temporizador{
	position: absolute;
	right: -100%;
	background: #20252b;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.temporizador__pantalla{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	right: -1000%;
	top: 0%;
	height: 100vh;
	width: 100vw;
}

.temporizador__display{
	border: 1vh solid #FFF;
	font-size: 10vw;
	color: #FFF;
	border-radius: 20px;
	color: #29F;
}

.temporizador__botonera{
	height: 12vh;
	width: 30%;
	display: flex;
	justify-content: space-around;
}

.temporizador__botonera-reiniciar,.temporizador__botonera-borrar{
	border-style: none;
	background: transparent;
	font-size: 2vw;
	color: #FFF;
	cursor: pointer;
}

.temporizador__botonera-play{
	border-style: none;
	background: #FF1111;
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.temporizador__botonera-play>img{
	height: 60%;
	width: 60%;
}

.temporizador__botonera-play.play>.pause{
	display: none;
}

.temporizador__botonera-play.play>.play{
	display: block;
}

.temporizador__botonera-play>.play{
	display: none;
}

.temporizador__input{
	height: 14vw;
	width: 60vw;
	display: flex;
	justify-content: space-around;
	font-size: 10vw;
	color: #FFF;
	border-radius: 20px;
	border: 1vh solid #FFF;
	color: #29F;
}

.temporizador__agregar{
	position: absolute;
	right: -100%;
	height: 82vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.temporizador__agregar-entrada{
	background-color: #20252b;
	border-style: none;
	border: 1vh solid white;
	border-radius: 20px;
	max-width: 20vw;
	font-size: 10vw;
	color: #FFF;
}

.temporizador__agregar-numerico{
	height: 36vh;
	width: 36vw;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.temporizador__agregar-btn{
	background: transparent;
	height: 28%;
	width: 28%;
	font-size: 2vw;
	color: #FFF;
	border: none;
	cursor: pointer;
}

.temporizador__agregar-btn:hover{
	background-color: #31363c;
}

.temporizador__agregar-btn>img{
	height: 80%;
	width: 80%;
}

/*.alarma{
	position: absolute;
	right: -100%;
	background: #20252b;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

.visible , .display{
	left: 0%;
}

.navbar{
	position: fixed;
	bottom: 0px;
	height: 14vh;
	width: 50%;
	display: flex;
}

.navbar__btn{
	background:  rgba(48, 56, 65,1);
	border-style: none;
	width: 33%;
	height: 100%;
	font-size: 2em;
	color: rgba(255,255,255,.4);
	padding: 6px;
}

.navbar__btn>img{
	height: 100%;
	width: 100%;
	opacity: .6;
}

.navbar__btn:hover{
	background:  rgba(48, 56, 65,.6);
	opacity: .8;
}

.navbar__btn:hover >img{
	cursor: pointer;
	opacity: .6;
}

.active>img{
	opacity: 1;
}