*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #19262C;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: verdana;
}

.tarjeta{
	height: 30vw;
	width: 30vw;
	position: relative;
	transform-style: preserve-3d;
	transition: .8s ease;
}

.adelante,.trasera{
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-size: 32px;
}

.adelante{
	background-color: #622fff;
	z-index: 1;
}

.dorso{
	height: 4em;
	width: 4em;
	border-radius: 50%;
	background-color: #300896;
}

.trasera{
	transform: rotateY(180deg);
	background-color: #300896;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tarjeta__wrap:hover >.tarjeta{
	transform: rotateY(180deg);
	
}

.trasera__imagen{
	height: 90%;
	width: 90%;
}